
*.class

*.log

*.ctxt

.mtj.tmp/

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
bin

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeansgit push
.sts4-cache
.bin

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

.vscode/
/.allure/